@use '../index' as *;

.about{
    @include flex(space-between, stretch, row wrap, 3rem);

    @media(width < 1200px){
     justify-content: center;
    }

    .about__item{
      flex: 0 0 45%;
      
      @media(width < 1200px){
        flex: 0 0 75%;
      }

      @media(width < 768px){
        flex: 0 0 100%;
      }

        .about__heading{
          text-align: left;
        }

          h3{
            color: $lightBlue;
            font-size: 1.4rem;
          }

          .about__p{
            margin-top: 1rem;
            color: white;
            line-height: 1.7;

            @media(width < 576px){
              line-height: 2;
            }
          }

          .about__img{
            width: 100%;
            height: 100%;
        }
    }
}