@use '../index' as *;

.about{
    @include flex(flex-start, stretch, row wrap, 3rem);

    .about__item{
          flex: 1 0 450px;
          // border: 2px solid red;
          // width: 50%;

        h2{
          text-align: left;
        }

          h3{
            color: $lightBlue;
            font-size: 1.4rem;
          }

          p{
            margin-top: 1rem;
            color: white;
          }

          img{
            height: 100%;
          }

          // &--img{
          //   background: url("../../assets/img/ivana.png") center no-repeat;
          //   height: 100%;
          // }
    }
}