@use '../index' as *;

.cta{
    background-color: $lightBlue;
    text-align: center;

    h2{
        text-transform: uppercase;
        color: $orange;
        font-weight: 900;
        font-size: 2.3rem;
        margin: auto;
        max-width: 550px;
    }

    p{
        font-weight: 500;
        font-size: 1.3rem;
        max-width: 850px;
        margin: 3rem auto;
    }
}