@use '../index' as *;

.cta{
    background-color: $darkBlue;
    text-align: center;

  .cta__wrapper{

    .cta__heading{
        text-transform: uppercase;
        color: $orange;
        font-weight: 900;
        font-size: 2.3rem;
        margin: auto;
        width: 550px;

        @media(width < 768px){
            width: 100%; 
            font-size: 2rem;
        }

        @media(width < 576px){
            font-size: 1.8rem;
        }
    }

    .cta__p{
        color: #fff;
        font-weight: 500;
        font-size: 1.3rem;
        margin: 2rem auto;

        @media(width < 576px){
            font-size: 1rem;
        }
    }
    
    .cta__btn{
        margin-top: 1.5rem;
        background: transparent;
        border: 2px solid $orange;
        position: relative;
        z-index: 100;

        &:hover::after{
            width: 100%;
            transition: .5s linear;
        }

        &::after{
            @include positioning(absolute, 0%, auto, auto, 0%, 0%, 100%);
            background-color: $orange;
            display: block;
            content: "";
            z-index: -1;
            transition: .5s linear;
        }
    }
  }
}