@use '../index' as *;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
    transition: .4s linear;
    resize: none;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    color: $black;
    line-height: 1.4;
    background-color: $royalBlue;

    @media (width < 576px) {
        font-size: 85%;
      }
}

h1,h2,h3,h4,h5,h6{
    text-transform: capitalize;
    font-family: "Barlow Semi Condensed", sans-serif;
    text-wrap: balance;
}

.container{
    width: 70%;
    margin: auto;

    @media(width < 576px){
        width: 80%;
    }
}

img{
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

section{
    padding: 70px 0;
}

.section__title{
    color: $orange;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 2.5rem;

    @media(width < 576px){
        font-size: 2rem;
    }
}

.btn{
    background-color: $orange;
    color: $darkBlue;
    font-size: 18px;
    text-transform: capitalize;
    line-height: 1.2rem;
    font-weight: 600;
    padding: 15px 60px;
    cursor: pointer;
    display: inline-block;

    &:hover{
        background-color: white;
    }

    @media(width < 576px){
        padding: 15px 40px;
        font-size: 1rem;
    }
}

.fixed__btn{
    background-color: $orange;
    color: $darkBlue;
    padding: 1rem 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 0px 50px 50px 0px;
    @include positioning(fixed, auto, 1rem, 1rem, auto);
    z-index: 1000;

    &:hover{
        background-color: white;
    }

    @media(width < 768px){
        padding: 1rem;
        font-size: 0.9rem;  
    }
}



