@use '../index' as *;

.nav{
    background-color: white;
    position: relative;

    &__wrapper{
        @include flex(space-between, center);

        .nav__logo{

           img{
             width: 300px;
             height: 100px;

             @media(width < 576px){
                width: 200px;
             }
           } 
        }

        .nav__list{
            @include flex(flex-start, center, row, 2rem);
            transition: 0s;

            @media(width < 992px){
                align-items: flex-start;
                z-index: 100;
                @include positioning(absolute, 100%, auto, auto, 0%);
                background-color: red;
                width: 100%;
                flex-direction: column;
                line-height: 1.4;
                padding: 1rem 15%;
                gap: 1rem;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                transition: .5s linear;
            }

            &.open{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
            }

            .list__item{

                &.dropdown{
                    @include flex(flex-start, center, nowrap, .5rem);
                    position: relative;
                    line-height: 1.4;

                    &:hover > .nav__dropdown{
                        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
                    }

                    i{
                        color: $darkBlue;
                    }

                    .nav__dropdown{
                        margin-top: 1rem;
                        position: absolute;
                        top: 100%;
                        background-color: $darkBlue;
                        padding: 1rem;
                        width: 220px;
                        clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);

                        &__link{
                            color: white;
                            display: block;
                            width: 100%;
                            text-transform: capitalize;

                            &:not(:last-child){
                                margin-bottom: 1rem;
                            }

                            &:hover{
                                color: $orange;
                            }
                        }
                    }
                }

                .list__link{
                    color: $darkBlue;
                    text-transform: capitalize;
                    font-size: 18px;

                    &:hover{
                        color: $orange;
                    }

                    &:hover+i{
                        color: $orange;
                    }
                }
            }
        }

        #hamburger{
            display: none;
            color: $darkBlue;
            cursor: pointer;
            font-size: 1.5rem;

            &:hover{
                color: $orange;
            }

            @media(width < 992px){
                display: flex;
                transition: 0;
            }
        }
    }
}