@use '../index' as *;

.nav{
    background-color: $royalBlue;
    height: 10vh;
    line-height: 10vh;

    &__wrapper{
        @include flex(space-between, center);

        .logo{
            color: white;
            text-transform: uppercase;
            font-size: 2rem;
        }

        .nav__list{
            display: flex;
            gap: 2rem;

            .list__item{
                .list__link{
                    color: white;
                    text-transform: capitalize;
                    font-size: 18px;

                    &:hover{
                        color: $orange;
                    }
                }
            }
        }
    }
}