@use '../index' as *;

.nav{
    background-color: white;
    position: relative;

    &__wrapper{
        @include flex(space-between, center);

        .nav__logo{

           img{
             width: 300px;
             height: 100px;

             @media(width < 576px){
                width: 200px;
             }
           } 
        }

        .nav__list{
            @include flex(flex-start, center, row, 1rem);
            transition: 0s;

            @media(width < 1200px){
                @include positioning(fixed, 0, 0, auto, auto, 250px, 100%);
                background-color: $lightBlue;
                z-index: 999;
                flex-direction: column;
                align-items: flex-start;
                padding-top: 2rem;
                padding-left: 2rem;
                clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

                // clip-path: polygon(100% 0, 100% 0%, 100% 0, 100% 0);
                transition: .4s linear
            }

            &.open{
                clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            }
            
            .list__item{

                &.dropdown{
                    @include flex(flex-start, center, wrap, .2rem);
                    position: relative;

                    &:hover > .nav__dropdown{
                        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
                    }

                    i{
                        color: $darkBlue;

                        @media(width < 1200px){
                            display: none;
                        }
                    }

                    .nav__dropdown{
                        position: absolute;
                        top: 100%;
                        background-color: $darkBlue;
                        padding: 1rem;
                        width: 200px;
                        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
                        transition: 0s;

                        @media(width < 1200px){
                            position: static;
                            top: auto;
                            display: block;
                            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
                            width: 100%;
                            background-color: inherit;
                            margin: 0;
                            padding-left: 1rem;
                        }


                        &__link{
                            color: white;
                            display: block;
                            text-transform: capitalize;

                            @media(width < 1200px){
                                color: $darkBlue;
                            }

                            &:not(:last-child){
                                margin-bottom: 1rem;
                            }

                            &:hover{
                                color: $orange;
                            }
                        }
                    }
                }

                .list__link{
                    color: $darkBlue;
                    text-transform: capitalize;

                    &:hover{
                        color: $orange;
                    }

                    &:hover + i{
                        color: $orange;
                        transform: rotate(180deg);
                    }
                }
            }

            #close{
                display: none;

                @media(width < 1200px){
                    display: flex;
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    cursor: pointer;
                    font-size: 1.5rem;
                }

                &:hover{
                    color: $orange;
                }
            }
        }

        #hamburger{
            display: none;
            color: $darkBlue;
            cursor: pointer;
            font-size: 1.5rem;

            &:hover{
                color: $orange;
            }

            @media(width < 1200px){
                display: flex;
                transition: 0;
            }
        }
    }
}