@use '../index' as *;

.topnav{
    background-color: $darkBlue;
    height: 5vh;
    line-height: 5vh;

    @media(width < 992px){
        display: none;
    }

    &__wrapper{
        display: flex;
        gap: 1.5rem;
        color: white;

        .topnav__item{
            display: inline-flex;
            align-items: center;
            
            i{
                color: $orange;
                margin-right: 7px;
            }

            a{
                color: white;

                &:hover{
                    color: $orange;
                }
            }
        }
    }
}