@use "../abstract/index" as *;

.consultation {
  @include flex(flex-start, center, wrap, 2rem);

  &__item {
    flex: 1 0 300px;

    @include rwd(576) {
      flex-basis: 100%;
    }
  }

  &__description {
    color: $white;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 2rem;

    @include rwd(576) {
      font-size: 1rem;
    }
  }

  .calendly-inline-widget {
    width: 100%;
    height: 600px;
  }
}
